body{
    font-family: 'Open Sans', sans-serif;
    background: #fff;
    color: #4e525d;
    cursor: default;
    height: 100%;
    width: 100%;
}

* {
    padding: 0;
    margin: 0;
    border: 0;
}
:focus, :active {
    outline: none;
}

a:focus, a:active {
    outline: none;
}

nav, footer, header, aside {
    display: block;
}

input, button, textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a, a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    adding: 0 15px;
}

/* table */
.table_inner{
    margin: 70px auto;
}

table{
     text-decoration: none;
     border-collapse:collapse;
     width: 80%;
     text-align:center;
     margin: 40px auto;
 }

th{
    font-weight:normal;
    font-size:16px;
    color:#4e525d;
    background-color:#dcebf5;
}

td{
    font-size:14px;
    color:#354251;
}

td,th{
    white-space:pre-wrap;
    padding:12px 0px;
    line-height:14px;
    vertical-align: middle;
    border: 1px solid #dcebf5;
}
